%ul
  - evaluation_responses.evaluation_with_evaluator_responses do |evaluation, evaluator_responses|
    %li
      %h3= evaluation.title
      - evaluator_responses.each do |evaluator, responses|
        %ul
          - responses.each do |response|
            - if response.evaluator == current_user
              %li= link_to link_text(response), edit_evaluation_response_path(response)
            - elsif response.score_results[:total_earned] > 0
              %li= link_to "#{link_text(response)} (read-only)", evaluation_response_path(response)
