= content_tag_for(:div, section) do
  %h3= section.title
  = section.description.html_safe if section.description

  .questions
    = render partial: section.questions, as: :question, locals: {form: form}

