body{
  width: 80%;
  background: white;
  border: 0px 2px solid #999;
  margin: 0 auto;
  padding: 20px;
}

div.section{
  margin: 10px 0px;
  background: #EEE;
  padding: 5px;

  h3{
    margin-left: 10px;
  }
}

form.edit_evaluation_response {
  position: relative;
  margin: 15px 0;
  padding-bottom: 20px;
  background-color: #eee;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px
}

ul.evaluations {
  font-size: 16px;
}

div.questions{
  margin: 10px;
  padding: 5px;

  div{
    padding: 20px 0px;
    border-bottom: 1px dotted #CCC;

    input[type="text"]{
      display:block;
      width: 600px;
    }

    textarea{
      display:block;
      width: 600px;
    }

    p{
      font-size: 16px;
      font-weight: bold;
    }
  }
}